<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
</head>

<!-- We do not use ng-app here because we bootstrap our app in app.js -->
<body>

    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- 
        We use a fluid container here to have the topics to the right. 
        Since our page requires a login and doesn't have a separate page for it atm, ng-cloak is used.
        ng-cloak stops the page from being shown until the entire template is loaded.
     -->
    <div class="container-fluid" ng-controller="HeaderCtrl">
        <!-- Google+ signin button -->
        <div ng-show="user === undefined" class="row header-no-col" ng-cloak>
            <div google-signin client-id='796741862543' after-signin="signedIn(oauth)"></div>
        </div>
        <!-- logo/name -->
        <h1 id="logoHeader" class="header-no-col">Sage Bionetworks Interactome
            <small>Prototype</small>
        </h1>
        <div id="pageContent" ng-hide="user === undefined" ng-cloak>
            <div class="row" id="header-row">
                <div class="col-md-8">
                    <!-- userSearchPannel holds the search bar and filter -->
                    <div id="userSearchPanel">
                        <div id="jumbotronBanner" class="jumbotron">
                            <!--searchBar code -->
                            <form ng-submit="searchSubmit()">
                                <div class="input-group input-group-lg">
                                    <input id="searchBar" type="text" ng-model="searchByInstitution" placeholder="Search i.e. author, title, keywords" class="form-control" />
                                    <!--searchButton -->
                                    <span class="input-group-btn">
                                      <button id="searchButton" type="submit" class="btn btn-primary">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main">
                <!-- Angular views are injected here -->
                <div class="row">
                <!-- made col-md-8 to correspond with search bar -->
                    <div class="col-md-8">
                        <div ng-view=""></div>
                    </div>
                    <div class="col-md-4 topicMasterAccordionSize" id="topics-bar-wrapper">
                        <div id="topicsbar" data-spy="affix" data-offset-top="0" data-offset-bottom="0" class="fill">
                            <h3>Topics</h3>
                            <div>
                                <form ng-submit="addTopic()">
                                    <input type="text" ng-model="newTopic" placeholder="New topic name..." name="text" />
                                    <input type="submit" id="submit" value="Add" />
                                </form>
                                <div ng-repeat="topic in userTopics">
                                    <topic-panel-item topic="topic" check-topic="hasTopicName(topicName)" rename-topic="renameTopic(topicId, topicName)" delete="deleteTopic(topicId)"></topic-panel-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Automatically generated sources by bower.json. Changes here have no effect -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    
    <!-- AWS CDN -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
    <!-- Manually added (changes here will stay) -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/directives/googlesignin.js"></script>
    <script src="scripts/services/userservice.js"></script>
    <script src="scripts/services/awsservice.js"></script>
    <script src="scripts/directives/topicpanelitem.js"></script>
    <script src="scripts/directives/abstractlistgroupitem.js"></script>
    <script src="scripts/services/recommendationservice.js"></script>
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.all.css">

    <script>
        $(function() {
            $("#topicsbar").accordion({collapsible: true, heightStyle: "fill"});
        });
    </script>
    <!-- Google+ Signin button library, note this had to be also loaded in google+ directive to ensure it showed up-->
    <script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js?onload=onLoadCallback';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
    </script>
    
    <!-- endbuild -->
</body>

</html>
