/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.clickable-pointer {
  cursor: pointer;
}

.accordion-heading {
  background-color: #EEEEEE;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
}

.smallScrollDiv {
  max-height: 100px;
  overflow-y: scroll;
}

.topicAccordionSize {
  max-height: 100px;
  max-width: 100px;
}

.topicMasterAccordionSize {
  height: 500px;
}

.topic-dropdown-btn {
  background-color: #EEEEEE;
  border: 0px;
}

.row {
  /* Since we use a fluid container, the default margins make it too far to the left. */
  margin-right: 0px;
  margin-left: 0px;
}

.header-no-col{
  /* Same padding as column to align better*/
  padding-left: 15px;
}

#topicsbar {
  top: 5px;
  width: 400px;
  position: fixed;
}

.abstractDrag {
  max-height: 40px;
  text-align: center;
  overflow: hidden;
}

.abstract-selected {
  background-color: #96EB96;
}

.inline-collapse-btn {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
}


/* 
  fade animation for entering and leaving
  Used for recs entering and leaving, and loading leaving
*/
.loader-fade-animation.ng-enter,
.loader-fade-animation.ng-leave,
.fade-animation.ng-enter, 
.fade-animation.ng-leave {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

.loader-fade-animation,
.fade-animation.ng-enter {
  opacity:0;
}
.fade-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.loader-fade-animation.ng-enter-active {
  opacity:.7;
}

.fade-animation.ng-leave {
  opacity:1;
}
.loader-fade-animation.ng-leave-active,
.fade-animation.ng-leave.ng-leave-active {
  opacity:0;
}

/* loading animation for recs */
.loader-background {
  background-color:white;
  opacity:.7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader-position-wrap {
  position: fixed;
  top: 50%;
  width: 150px;
  left: 33%;
  margin: 0 auto;
}

.loader-inner-blink {
  position: absolute;
  top: 0;
  z-index: 1002;
  width: 50px;
  height: 50px;
  border: 15px solid;
  border-radius: 50%;
  border-top-color: rgba(44,44,44,0);
  border-right-color: rgba(55,55,55,0);
  border-bottom-color: rgba(66,66,66,0);
  border-left-color: rgba(33,33,33,0);
  animation: circular-blink 3s infinite;
  -webkit-animation: circular-blink 3s infinite;
}

@keyframes circular-blink {
  0% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);  
  }
  10.4% {
    border-top-color: rgba(44,44,44,0.5);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  20.8% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  31.2% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0.5);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  41.6% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
    transform: rotate(40deg);
  }
  52% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0.5);
    border-left-color: rgba(33,33,33,0);
  }
  62.4% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  72.8% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0.5);
  }
}
@-webkit-keyframes circular-blink {
  0% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);  
  }
  10.4% {
    border-top-color: rgba(44,44,44,0.5);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  20.8% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  31.2% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0.5);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  41.6% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
    -webkit-transform: rotate(40deg);
  }
  52% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0.5);
    border-left-color: rgba(33,33,33,0);
  }
  62.4% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0);
  }
  72.8% {
    border-top-color: rgba(44,44,44,0);
    border-right-color: rgba(55,55,55,0);
    border-bottom-color: rgba(66,66,66,0);
    border-left-color: rgba(33,33,33,0.5);
  }
}

.loader-inner-circle {
  width: 50px;
  height:50px;
  border: 15px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.loader-outer-circular {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 70px;
  height: 70px;
  border: 20px solid;
  border-radius: 50%;
  border-top-color: #333;
  border-left-color: #fff;
  border-bottom-color: #333;
  border-right-color: #fff;
  opacity: 0.4;
  animation: loader-spin-right-bright 5s infinite;
  -webkit-animation: loader-spin-right-bright 5s infinite;
}
@keyframes loader-spin-right-bright {
  0% {transform: scale(1,1) rotate(0deg); opacity: 0.4;}
  50% {transform: scale(4,4) rotate(360deg); opacity: 0;}
}
@-webkit-keyframes loader-spin-right-bright {
  0% {-webkit-transform: scale(1,1) rotate(0deg); opacity: 0.4;}
  50% {-webkit-transform: scale(4,4) rotate(360deg); opacity: 0;}
}
.loader-secondary-circular {
  opacity: 0.3;
  transform: rotate(90deg);
  animation: loader-spin-left-dim 5s infinite;
  animation-delay: 1s;
  -webkit-transform: rotate(90deg);
  -webkit-animation: loader-spin-left-dim 5s infinite;
  -webkit-animation-delay: 1s;
}
@keyframes loader-spin-left-dim {
  0% {transform: scale(1,1) rotate(90deg); opacity: 0.3;}
  50% {transform: scale(4,4) rotate(-360deg); opacity: 0;}
}
@-webkit-keyframes loader-spin-left-dim {
  0% {-webkit-transform: scale(1,1) rotate(90deg); opacity: 0.3;}
  50% {-webkit-transform: scale(4,4) rotate(-360deg); opacity: 0;}
}


/* Get recs button */
.get-rec-container {
  background-color: rgba(245,245,245,0.7);
  margin-bottom: 2px;
  position: fixed;
  bottom: 0px;
  z-index: 500;
}

.get-rec-container.ng-enter {
  opacity: 0;
  -webkit-animation: .2s slide-in;
 }
 .get-rec-container.ng-leave {
  -webkit-animation: 1s slide-out;
 }

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slide-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
